* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #F8EDEB;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #F8EDEB;
}


.nav__links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 10px;
  color: #601915;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}
.nav__links li i {
 color: #000000;
  width: 100%;
  height: 100%;
}

.metamask{
width: 100%;
height: 100%;  
}
.metamask svg{
  width: 22px;
  height: 22px;
}

.fa-brands{
  width: 33px;
  height: 22px;
}

.nav__links li a:hover {
  background-color: #ECCBC5;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.bg-blue:hover{
  background-color: #6DCFE4 !important;
}


/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
